.header{
    background-color: blue;
    font-size: 20px;
    padding-left: 10px;
    color: white;
}

::ng-deep.mat-dialog-container{
    padding: 0;
}

span{
    cursor: pointer;
}

label{
    padding-left: 10px;
}